.container_question-content {
  background-color: #EF7F1A;
  width: 100%;
  border-radius: 10px;
  max-width: 1211px;
  margin: 0 auto;
}
.question-block {
  padding: 100px 46px 60px 100px;
}
.question__block__title {
text-align: center;
color: white;
margin-bottom: 49px;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.question-list__item {
background-color: white;

padding: 30px 0 30px 19px;
cursor: pointer;
margin-bottom: 14px;
border-radius: 3px;
}
.question__list_item__marker {
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
  font-weight: bold;
}
.question__item__marker_answer {
  color: black;
  font-size: 16px;
  margin-top: 15px;
}
details[open] summary:before {
  content: url(../img/question/Vector\ open.svg);
  position: absolute;
  right: 30px;
}
details summary::before {
  content: url(../img/question/Vector\ close.svg);
  position:absolute;
  right: 30px;
}
summary:hover {
  color:#ef7f04;
}