* {
  box-sizing: border-box;
}
body {
  font-family:'Roboto', sans-serif;
  background-color: #F2F2F2;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title-section {
  color: #2F2F51;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}